:root {
    --titletext-color: #212121;
    --p-color: #757575;
    --hover-color: #2196F3;
    --background-color: #ffffff;
    --backgroundfilter-color: #EEEEEE;
}

body{
    font-family: 'Roboto', 'Raleway', sans-serif;
    background-color: #ffffff;
    color: #757575;
    font-size: 14px;
    letter-spacing: 0.03em;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}


.link{
    text-decoration: none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.secondary-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    color: var(--titletext-color);
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
}

.logoweb{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
}
.logostudio{
    color: #000000;
}


.navigation{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--titletext-color);
}

.navigation-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--titletext-color);
}
.navigation-link:hover,
.navigation-link:focus{
    color: var(--hover-color);
}
.current{
   color: #2196F3;
}

.contact-list{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--p-color);
}
.contact-link{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.contact-list:hover,
.contact-list:focus,
.contact-link:hover,
.contact-link:focus,
.header-contacts:hover,
.header-contacts:focus{
    color: var(--hover-color);
}
.header-contacts{
    font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--p-color);
}
.header-container {
    outline: 2px solid tomato;
    width: 1200px;
    margin-left: 200px;
    margin-right: 200px;
    
    padding-left: 15px;
    padding-right: 15px;

}

.hero{
    
    width: 1600px;
    height: 600px;
    background-color: #2F303A;
    text-align: center;
    padding: 200px 0;
    
}
.herotext{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 696px;
    color: #FFFFFF;
        margin:0 auto;
        
       
        
        
}
.hero-container{
    outline: 2px solid tomato;
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.button{
    font-family: inherit;
    background: #2196F3;     
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    
    padding: 10px 32px;
    border: 0;
    border-radius: 4px;
    
        
}

.button:hover,
.button:focus{
    background: #188CE8;;
}

.benefits{
    outline: 2px solid tomato;
    width: 1170px;
    margin-left: 200px;
    margin-right: 200px;
}
.benefits-titles{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--titletext-color);
    margin-top: 0;
    margin-bottom: 10px;
    padding: 0;
}
.benefits-p{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin: 0;
    padding: 0;
}
.benefits-container{
    outline: 2px solid tomato;
    width: 270px;
}

.ourworks{
    outline: 2px solid tomato;
    width: 1170px;
    margin-left: 200px;
    margin-right: 200px;
}

.ourteam-titles{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--titletext-color);
    margin: 0;
    padding: 0;
}
.ourteam{
    background-color: #F5F4FA;
    width: 1600px;
    
}
.ourteam-p{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin: 0;
    padding: 0;
}
.ourteam-container{
    outline: 2px solid tomato;
    width: 1170px;
    margin-left: 200px;
    margin-right: 200px;
}

.filterbutton{
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: #F5F4FA;
    color: var(--titletext-color);
    cursor: pointer;
}
.filterbutton:hover,
.filterbutton:focus{
    background-color: #2196F3;
    color: #FFFFFF;
}
 
.footer{
    background-color: #2F303A;
    width: 1600px;
}

.footer-logostudio {
    color: #ffffff;}

.logostudio-footer{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: white;
}
.footer-container{
    width: 1200px;
    margin-left: 200px;
}

.allworks-titles{
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 2;
color: var(--titletext-color);
}

.allworks-p{
font-weight: 400;
font-size: 16px;
line-height: 1.87;
color: var(--p-color);
}



